body{
  font-size:16px;
  font-family: Arial,sans-serif;
}

.container{
  width: 100%;
  margin:10px auto;
  position: relative;
}

.top-area{
    text-align: center;
}


.input-area{
  font-size:0px;
  text-align: center;
  margin-top:20px;
  margin-bottom:70px;
  float: left;
}

.btm-area{
  font-size:0px;
  text-align: center;
  margin-top:20px;
  margin-bottom:70px;
}

.inter-text{
  background: #f8f8f8;
  font-size:18px;
  text-align: center;
  padding:10px;
  width:140px;
  height: 40px;
  margin-right: 20px;
  border:solid;
  border-radius: 10px;
  float: left;
}


#btn{
  margin:20px auto 0;
  width:120px;
  height:120px;
  border-radius: 50%;
  background: #EF454A;
  text-align: center;
  line-height:130px;
  color:#fff;
  font-size:16px;
  font-weight:40px;
  cursor:pointer;
  opacity:0.9;
  box-shadow: 0 10px 0 #D1483E;
  border:3px solid #D1483E;
  user-select:none;
  display: inline-block;
}

#btn:hover{
  opacity:1;
}

#btn.pushed{
  margin-top:36px;
  box-shadow: 0 4px 0 #D1483E;
}

/* 結果の表示エリア */
.result-area{
  background: #f8f8f8;
  width:50px;
  padding:60px;
  height:60px;
  border: solid;
  border-radius: 5px;
  position: relative;
  float: left;
}


#result{
 margin:0;
}

#reset{
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#reset.hidden{
  display: none;
}

#img{
  position: absolute;
  right:120px;
  top:120px;
  display: inline-block;
}
